@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

body {
  background-color: gray;
}

h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Lora', serif;
  background-color: black;
  color: whitesmoke
}

main {
  width: 85%;
  margin: auto;
  background-color: gray;
}

#cityDataDiv {
  text-align: center;
  background-color: black;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}
