@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&display=swap');

body {
  background-color: gray;
}

h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Lora', serif;
  background-color: black;
  color: whitesmoke
}

main {
  width: 85%;
  margin: auto;
  background-color: gray;
}

form {
  text-align: center;
  background-color: yellow;
  padding: 2rem;
  margin-bottom: .5rem;
  font-family: 'Lato', sans-serif;
}

input {
  margin-left: 1rem;
}

#cityDataDiv {
  text-align: center;
  background-color: black;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
}

/* ask TA how to not display table and Image before Explore button is clicked */
/* ask TA about 400 error */
